.div-intro-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60rem;
}

.vlarge-text {
  font-size: 4rem;
  font-family: "Zen Antique Soft";
}

.large-text {
  font-size: 1.5rem;
  font-family: "Roboto Mono";
}

.small-text {
  font-family: "Roboto Mono";
  color: white;
  font-size: 1.03rem;
}

.btn-contactus {
  color: white;
  background-color: #dd5350;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 0.2rem;
  align-self: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.03rem;
}

.btn-contactus:visited {
  color: white;
}

.btn-contactus:hover {
  background-color: #7c8453;
}

.work {
  grid-column: 1/ -1;
  margin: 0 2rem;
  display: flex;
  background-color: white;
  align-items: center;
  border-radius: 2rem;
}

.colors {
  display: inline-block;
  position: relative;
  margin-right: 0.3rem;
  padding: 10px 0;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transition: all 0.5s ease-in-out;
}

.burntumber {
  background-color: #6e260e;
}

.crimsonred {
  background-color: #990000;
}

.burntsienna {
  background-color: #e97451;
}

.yellowochre {
  background-color: #cb9d06;
}

.prussianblue {
  background-color: #003153;
}

.cobaltblue {
  background-color: #0047ab;
}

.colors button {
  display: none;
  position: absolute;
  left: 10%;
  top: 10%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  width: 130px;
  height: 25px;
}

.colors:hover {
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: 130px;
  background-color: white;
}

.colors:hover button {
  display: block;
  opacity: 1;
}

.burntumber:hover {
  border: 1px solid #6e260e;
}
.crimsonred:hover {
  border: 1px solid #990000;
}
.burntsienna:hover {
  border: 1px solid #e97451;
}
.yellowochre:hover {
  border: 1px solid #cb9d06;
}
.prussianblue:hover {
  border: 1px solid #003153;
}
.cobaltblue:hover {
  border: 1px solid #0047ab;
}

.video-container {
  margin: 2rem 4rem 3rem 4rem;
  border-radius: 2rem;
  background-color: black;
}

.video-container:hover iframe {
  opacity: 0.6;
}

iframe {
  border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem 1rem black;
  transition: opacity 1s;
}

.explanation-work {
  text-align: justify;
  text-justify: auto;
  font-family: "Zen Antique Soft";
  margin: 2rem;
}

.all-colors-text {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Carousel CSS */
.carousel {
  margin: 2rem;
  border-radius: 2rem;
  grid-column: 1/ -1;
  justify-self: center;
  width: 45rem;
  height: 30rem;
  position: relative;
  box-shadow: 10px -10px 5px black;
}

.carouselImages {
  left: 0;
  top: 0;
  position: absolute;
  overflow: hidden;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

#radio1 {
  left: 44%;
}

#radio2 {
  left: 47%;
}

#radio3 {
  left: 50%;
}

#radio4 {
  left: 53%;
}

#radio5 {
  left: 56%;
}

.radios {
  opacity: 0.7;
  position: absolute;
  top: 93%;
  animation: fade-in-arrowsRadios 2s;
}

.radios:hover {
  transform: scale(1.8);
  cursor: pointer;
}

.fa-square {
  color: white;
  background-clip: content-box;
  background-color: transparent;
}

.fa-square.clicked {
  background-color: white;
}

.arrows {
  opacity: 0.7;
  position: absolute;
  top: 50%;
  transition: all 1s cubic-bezier(0.29, 2.01, 0.5, -0.68);
  animation: fade-in-arrowsRadios 2s;
}

#leftArrow {
  right: 101%;
}

#rightArrow {
  left: 101%;
}

@keyframes fade-in-arrowsRadios {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.arrows:hover {
  transform: scale(1.8);
  cursor: pointer;
}

.arrows .fas {
  color: white;
  transition: color 1s cubic-bezier(0.29, 2.01, 0.5, -0.68);
}

.arrows:hover .fas {
  color: #dd5350;
}
